<div class="new-game-form">
  <h1><%= title_form %></h1>
  <br>
  <%= form_with(model: game, local:true) do |f|%>

    <div class="field">
      <p>Title</p>
      <%= f.text_field :title, presence: true %>
    </div>

    <div class="field field-about">
      <p>About game</p>
      <%= f.text_field :about, presence: true  %>
    </div>

    <div class="field">
      <p>Release date</p>
      <%= f.text_field :release_date, presence: true %>
    </div>

    <div class="field">
      <p>Genre</p>
      <%= f.collection_check_boxes :game_type_ids, GameType.all, :id, :name do |b| %>
        <div class="collection-check-box">
          <%= b.label %>
          <%= b.check_box %>
        </div>
      <% end %>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>

    <div class="field">
      <p>Developer</p>
      <%= f.collection_select :developer_id, Developer.order(:name),:id,:name, include_blank: true, presence: true %>
    </div>

    <div class="field">
      <p>Franchise</p>
      <%= f.collection_select :franchise_id, Franchise.order(:name),:id,:name, include_blank: true, presence: true  %>
    </div>

    <div class="field">
      <p>Platform</p>
      <%= f.collection_select :platform_id, Platform.order(:name),:id,:name, include_blank: true, presence: true  %>
    </div>

    <div class="field">
      <p>Rarity</p>
      <%= f.collection_select :rarity_id, Rarity.order(:id),:id,:name, include_blank: true, presence: true  %>
    </div>

    <div class="field">
      <p>Stock</p>
      <%= f.number_field :stock, presence: true %>
    </div>

    <div class="field">
      <p>Photo url</p>
      <%= f.text_field :photo_url, presence: true %>
    </div>

    <div class="field">
      <p>Video code from youtube</p>
      <%= f.text_field :video_url, presence: true %>
    </div>

    <div class="error-field">
      <%= game.errors.full_messages.first if game.errors.any? %>
    </div>

    <div class="back-b-div new-g2">
      <%= link_to 'Back', admin_games_path, class: "back-b" %>
    </div>

    <div class="actions new-g">
    <%= f.submit button_text %>
    </div>

  <% end %>
</div>