<nav class="navbar">
  <ul>
    <li>
      <%= link_to('GameStore', "/", class: "name") %>
    </li>
    <li class="actions">
      <%= link_to('About', "/about") %>
    </li>

    <% if user_signed_in? %>

      <li class="actions">
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>

      <li class="actions">
        <%= link_to(current_user.username, account_index_path) %>
      </li>

      <% if current_user.admin? %>

        <li class="actions">
          <%= link_to('Admin Panel', admin_index_path) %>
        </li>

      <% end %>

    <% else %>

      <li class="actions">
        <%= link_to('Register', new_user_registration_path) %>
      </li>
      <li class="actions">
        <%= link_to('Login', new_user_session_path) %>
      </li>

    <% end %>

    <li class="actions">
      <%= link_to('All Games', games_path) %>
    </li>


    <!--    <li class="actions"><a href="#">Log in</a></li>-->
  </ul>
</nav>